<nav>
    <a href="{% url 'blog_list' %}">Home</a>

    {% if user.is_authenticated %}
        <span>Welcome {{ user.username }}</span>
        <a href="{% url 'profile' user.id %}">My Profile</a>
        {% if user.profile.role == 'author' %}
            <a href="{% url 'create_blog' %}">Create Blog</a>
        {% endif %}
        
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
    {% endif %}
</nav>